<div id="main-map">
  <vl-map :load-tiles-while-animating="true" :load-tiles-while-interacting="true"
    @click="mapClick" :controls="false" @movestart="mapMoveStart" @moveend="mapMoveEnd"
    :pixel-ratio="pixelRatio"
  >
    <vl-view :zoom.sync="zoom" :center.sync="center" ref="view"></vl-view>

    <vl-layer-tile>
      <vl-source-xyz v-if="darkMode" url="https://cartodb-basemaps-a.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png"></vl-source-xyz>
      <vl-source-osm v-else></vl-source-osm>
    </vl-layer-tile>
    <vl-layer-tile>
      <vl-source-wms url="https://geoserver.carto.zone/geoserver/onta/wms" ref="bus_source"
        layers="onta:aquita_busroute" :extParams="layerParams"></vl-source-wms>
    </vl-layer-tile>
    <vl-layer-tile :visible="showStops">
      <vl-source-wms url="https://geoserver.carto.zone/geoserver/onta/wms"
        layers="onta:aquita_busstop" ></vl-source-wms>
    </vl-layer-tile>

    <vl-feature v-if="currentPosition !== null">
      <vl-geom-point :coordinates="currentPosition"></vl-geom-point>

      <vl-style-box>
        <vl-style-icon
          src="img/marker.png"
          :scale="0.4"
          :anchor="[0.5, 1]">
        </vl-style-icon>
      </vl-style-box>
    </vl-feature>
  </vl-map>
  <SearchBar @showSettings="settingsVisible = true" />
  <TrackBtn
    ref="track"
    @currentPosition="currentPositionSet"
  />
  <BusList
    v-if="selectedBusRoutes.length > 0"
    :buses="selectedBusRoutes"
    @clearAll="selectedBusRoutes = []"
    @removeItem="removeSelectedBusRoute"
  />
  <SettingsMenu
    :visible="settingsVisible"
    :showStops="showStops"
    :darkMode="darkMode"
    @hideSettings="settingsVisible = false"
    @toggleShowStops="showStops = !showStops"
    @toggleDarkMode="darkMode = !darkMode"
  />
</div>
