<template>
  <div id="search-bar">
    <div class="burger">
      <button @click="$emit('showSettings')">
        <IconMonstrmenu />
      </button>
    </div>
    <div class="search">
      <input placeholder="Busca rutas..." />
    </div>
  </div>
</template>

<script>
import IconMonstrmenu from '@/assets/svg/iconmonstr-menu-1.svg';

export default {
  name: 'SearchBar',

  components: {
    IconMonstrmenu,
  },
};
</script>

<style lang="scss">
@import '../styles/variables.scss';

#search-bar {
  min-height: $search-bar-height;
  position: absolute;
  top: $search-bar-margin;
  left: $search-bar-margin;
  right: $search-bar-margin;
  background-color: white;
  display: grid;
  grid-template-columns: $search-bar-height auto;

  .burger button {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    svg path {
      fill: lighten($color-dark, 10%);
    }
  }

  .search input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 10px;
    margin: 0;
    font-size: $search-input-font-size;
  }
}
</style>
